.nv {
  position: absolute;
  right: 120px;
}
.font {
  font-family: 'Kaushan Script', cursive;
}
.font1 {
  font-family: 'Baloo 2', cursive;
}
.card-img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.ng {
  position: absolute;
  left: 450px;
  top: 17px;
}
