main {
  min-height: 80vh;
  background-color: #e7e4e9;
  font-family: 'Baloo 2', cursive;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

h1{
  font-family: 'Patrick Hand SC', cursive;
}
