main {
  min-height: 80vh;
  background-color: #e7e4e9;
  font-family: 'Baloo 2', cursive;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-family: 'Patrick Hand SC', cursive;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 0px;
  margin: 80px;
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.carousel a {
  margin: 0 auto;
}
